/*	
	This file defines the default set of CSS styles available in the Rich editor
*/

p.caption {
	font-style: italic;
	color: grey;
}

span.highlight {
	background: yellow;
}

img.left {
	float: left;
}

img.right {
	float: right;
}

#items li {
    position: relative;
    width: 100px;
    height: 120px;
    margin-right: 20px;
    float: left;
    overflow: hidden;
}