<table style="width: 90%; margin:0 auto;">
  <thead>
    <tr>
      <th>
        Title
      </th>
      <th style="width: 10%">
        
      </th>
    </tr>
  </thead>
  <tbody>
    <% resource.audios.each do |doc| %>
    <tr>
      <td>
        <%= doc.filename %>
      </td>
      <td>
        <%= link_to 'Remove', "#{audios_admin_lesson_category_lesson_path}/?aud_id=#{doc.id}", method: :delete %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>