<div id="iframe-container">
    <iframe src='<%= "/rich/files/?CKEditor=picker&default_style=thumb&allowed_styles=icon%2Cthumb%2Cmedium%2Clarge%2Cevent_thumb%2Cmain_slider%2Ccr_slider%2Crich_thumb%2Coriginal&insert_many=false&viewMode=list&scoped=false&type=all&dom_id=%23slider_slide_attributes_0_video_id" %>' height="100%" width="100%" allowfullscreen="" frameborder="0">
    </iframe>
</div>
