<p>Hello <%= @resource.name %>,</p>

<p>Someone has requested a link to change your password. You can do this through the link below.</p>

<%#<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token, config: message['client-config'].to_s, redirect_url: message['redirect-url'].to_s).html_safe %></p>
<%#<p><%= link_to 'Change my password', "api/auth/password/edit/?reset_password_token=#{@token}&config=#{message['client-config']}&redirect_url=#{message['redirect-url']}"  %></p>

<p><%= @resource.admin? || @resource.super_admin? ? (link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token, config: message['client-config'].to_s, redirect_url: message['redirect-url'].to_s).html_safe) : (link_to 'Change my password', "#{root_url}/#!/passwordreset?reset_password_token=#{@token}") %></p>

<p>If you didn't request this, please ignore this email.</p>

<p>Your password won't change until you access the link above and create a new one.</p>

<p>Best Regards,<br/>
Parelli Team</p>